body {
  font-family: Arial;
  background: #f0f0f0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.container {
  background: white;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 10px #ccc;
  width: 300px;
  text-align: center;
}

input {
  width: 90%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

button {
  width: 100%;
  padding: 10px;
  background: #007bff;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #0056b3;
}

#switch-text {
  margin-top: 10px;
  font-size: 14px;
}

#switch-text a {
  color: #007bff;
  text-decoration: none;
}

#switch-text a:hover {
  text-decoration: underline;
}

#message {
  margin-top: 15px;
  padding: 10px 15px;
  border-radius: 8px;
  font-weight: bold;
  font-size: 14px;
  text-align: center;
  display: none;
}

/* წითელი კუბიკი (შეცდომისთვის) */
.error {
  background-color: #ffdddd;
  border: 1px solid #ff5c5c;
  color: #a70000;
  display: block;
}

/* მწვანე კუბიკი (წარმატებისთვის) */
.success {
  background-color: #ddffdd;
  border: 1px solid #5cb85c;
  color: #0f5f0f;
  display: block;
}
